FastAPI → framework chính để viết API

pip install fastapi


Uvicorn → server chạy ứng dụng FastAPI

pip install "uvicorn[standard]"


SQLAlchemy → ORM để làm việc với database

pip install sqlalchemy


PyMySQL → driver để kết nối MySQL

pip install pymysql


Pydantic → khai báo schema, validation dữ liệu

pip install pydantic


email-validator → hỗ trợ cho EmailStr trong Pydantic

pip install email-validator


passlib[bcrypt] → dùng để mã hoá & verify password

pip install "passlib[bcrypt]"